.hero {
  //   width: 100%;
  //   position: fixed;

  //   // overflow: hidden;
  //   top: 60px;
  //   left: 0;
  //   background-color: var(--color-white);

  &.not-has-sticky {
    position: unset;
    top: unset;
  }

  @media (max-width: 991px) {
    position: unset;
    top: unset;
  }

  &-sec__container {
    // height: 610px;
    height: 100svh;
    background-color: var(--color-white);
    position: relative;
  }

  &.hidden-section {
    opacity: 0;
    pointer-events: none;
  }

  &.has-overlay {
    .hero-slider {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to top, #3a4041 0, rgba(58, 64, 65, 0) 60%);
        top: 0;
        left: 0;
        z-index: 2;
      }
    }
  }

  &-overlay {
    // height: 610px;
    height: calc(100svh - 60px);
    width: 1px;
    background-color: transparent;

    @media (max-width: 991px) {
      display: none;
    }
  }

  .video-banner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    &.video-iframe {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 25px;
      height: 0;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @media (max-width: 1400px) {
        height: 100vh;
        width: 177.78vh;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding-bottom: 0;
      }
    }
  }

  .swiper-banner {
    width: 100%;
    height: 100%;

    &::after {
      display: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    }

    .swiper-content {
      width: 100%;
      max-width: 520px;
      position: absolute;
      z-index: 2;
      bottom: 24px;
      left: 24px;
      text-align: left;
      line-height: 1.4;
    }

    .swiper-slide {
      overflow: hidden;
      &:first-child {
        img {
          transform: scale(1.1);
        }
      }
    }
    .slide-banner {
      width: 100%;
      height: 100%;
      position: relative;

      .swiper-content-title {
        width: 100%;
        max-width: 735px;
        position: absolute;
        z-index: 2;
        bottom: 24px;
        left: 24px;
        text-align: left;
        line-height: 58px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .hero__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .swiper-slide-active img,
  .swiper-slide-duplicate-active img {
    transition-delay: 0s !important;
  }

  &__content {
    width: 60%;
    position: absolute;
    z-index: 2;
    bottom: 24px;
    left: 24px;
    text-align: left;
    color: var(--color-white);

    @media (max-width: 991px) {
      width: 85%;
      top: unset;
      bottom: 0;
    }

    h2 {
      font-family: var(--font-heading);
      font-size: 64px;
      line-height: 80px;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      @media (max-width: 991px) {
        font-size: 28px;
        line-height: 40px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .swiper-pagination {
    height: 2px;
    background-color: transparent;
    top: unset;
    bottom: 0;

    .swiper-pagination-progressbar-fill {
      background-color: var(--color-mall);
    }
  }

  .progress-bar {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0;
    right: 0;
    top: unset;
    transform: none;

    height: 2px;
    background: var(--color-primary);
    width: 0%;
    transition: width 0.1s linear;
  }

  .swiper-arrows {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    z-index: 3;
    right: 24px;
    bottom: 24px;

    .swiper-next,
    .swiper-prev {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid var(--color-white);
      color: var(--color-text);
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      position: unset;
      transition: all 0.4s ease;
      @media (max-width: 991px) {
        display: none;
      }
      &:hover {
        background-color: var(--color-mall);
        color: var(--color-white);
        border-color: var(--color-mall);
      }

      svg {
        width: 7px;
        height: 12px;

        * {
          transition: all 0.4s ease;
        }
      }

      &::after {
        display: none;
      }
    }

    .swiper-prev {
      svg {
        transform: scale(-1) translateX(1px);
      }
    }

    .swiper-next {
      svg {
        transform: translateX(1px);
      }
    }
  }
}
