.btn--arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &:hover {
    .btn__icon {
      opacity: 0;
      transform: translate(-50%, 100%);

      &-clone {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }

  .btn__icon {
    display: block;
    width: 16px;
    height: 13px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    transition: all 0.4s ease;

    &-clone {
      transform: translate(-50%, -150%);
      opacity: 0;
    }
  }
}

.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1061;

  @media (max-width: 1023px) {
    display: none;
  }

  .cursor {
    width: 10px;
    height: 10px;
    // background-color: var(--color-primary);
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &.show-text {
      width: 60px;
      height: 60px;
      background-color: var(--color-primary);

      .text {
        opacity: 1;
        // transition-delay: 0.2s;
        transition-duration: 0.4s;
      }
    }

    span {
      font-family: var(--font-body);
      font-size: 8px;
      line-height: 14px;
      font-weight: 600;
      letter-spacing: 0.8px;
      text-align: center;
      text-transform: uppercase;
      display: block;
    }
  }

  .text {
    min-width: max-content;
    opacity: 0;
    // transition: all 0.5s ease;
  }
}

[data-cursor-text] {
  cursor: none !important;
}

main {
  position: relative;
  z-index: 3;
}

.link-hover {
  transition: all 0.4s ease;
  color: var(--color-text);

  &.color-white {
    color: var(--color-white);
  }

  &:hover {
    background-position: 0;
    color: var(--color-primary);
  }
}

section {
  z-index: var(--z-index);
}

.section-overlay-parallax {
  background: var(--overlay-bg);
  position: absolute;
  width: 100%;
  height: var(--overlay-height);
  top: 0;
  left: 0;
}

.effect-line,
.effect-line-auto {
  .line {
    line-height: 1.5;
  }
}

.effect-title {
  .char {
    line-height: 1.5;
  }
}

.btn-view-all {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.4s ease;

  .icon {
    transition: all 0.4s ease;
    width: 6px;
    height: 11px;

    svg {
      * {
        transition: all 0.4s ease;
      }
    }
  }

  &:hover {
    color: var(--color-primary);

    .icon {
      transform: translateX(4px);
    }
  }
}

.animation-image-clip {
  clip-path: inset(0);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
  overflow: hidden;
  will-change: clip-path;

  &:hover {
    clip-path: inset(1.3%);

    img,
    video {
      transform: scale(1.03);
    }
  }
  @media (min-width: 992px) {
  }

  img,
  video {
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.dropdown-custom {
  position: relative;
  cursor: pointer;
}
.dropdown-custom-menu {
  position: absolute;
  bottom: -17px;
  left: -16px;
  transform: translateY(100%);
  background-color: var(--color-white);
  width: 120px;
  padding: 8px;
  clip-path: inset(0 0 100% 0);
  will-change: clip-path;
  transition: clip-path 0.3s ease;
  pointer-events: none;
  &.dropdown--active {
    clip-path: inset(0 0 0 0);
    pointer-events: auto;
  }
}
.dropdown-custom-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  .value-select {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: var(--color-text);
      font-size: 14px;
      line-height: 18px;
      // font-weight: 600;
    }
  }
}
.dropdown-custom-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px;
  color: var(--color-text);
  transition: all 0.3s ease;
  &:hover {
    color: var(--color-primary);
  }
  span {
    font-size: 14px;
    line-height: 18px;
    // font-weight: 600;
  }
}

// field suggestion
.field-suggestion {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: 8px 0px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .field-suggestion__list {
    position: absolute;
    top: 100%;
    left: -12px;
    right: 0;
    background: var(--color-white);
    border: none;
    border-radius: unset;
    list-style: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 10;
    transform: translateY(12px);
    width: 190px;
    clip-path: inset(0 0 0 0);
    pointer-events: auto;
    padding: 8px;
    will-change: clip-path;
    transition: clip-path 0.3s ease;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-primary);
    }

    &.hidden {
      clip-path: inset(0 0 100% 0);
      pointer-events: none;
    }

    li {
      padding: 8px;
      cursor: pointer;
      font-size: 14px;
      line-height: 18px;
      transition: all 0.3s ease;

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}

a,
button {
  &.aloading {
    pointer-events: none;
    color: transparent !important;
    background-color: var(--color-primary) !important;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid transparent;
      border-radius: 50%;
      border-top: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
      width: 20px;
      height: 20px;
      animation: spin-animation 1s linear infinite;
      z-index: 2;
      background: 0 0;
    }

    @keyframes spin-animation {
      0% {
        transform: translate(-50%, -50%) rotate(0);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}

.modal-success {
  .modal-dialog {
    width: 360px;
    height: 360px;
    @media (max-width: 767px) {
      width: 100%;
      margin: 0;
      justify-content: center;
    }
  }

  .modal-content {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    @media (max-width: 991px) {
      width: 320px;
      height: 320px;
    }
    .desc {
      margin-top: 16px;
    }
  }

  .modal-body {
    height: 360px;
    background: linear-gradient(to top left, #fffbeb 0%, #ffffff 40%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;

    .icon {
      width: 60%;
      height: auto;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
