.dropdown-custom-select,
.dropdown-custom {
  position: relative;
  .dropdown-custom-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: var(--color-white);
    margin-top: 18.5px;
    padding: 8px;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.3s ease;
    will-change: clip-path;
    &.dropdown--active {
      clip-path: inset(0 0 0 0);
    }
  }
  .value-select {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-text);
  }
  .dropdown-custom-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    .icon {
      flex-shrink: 0;
    }
    .value-select {
      flex: 1;
    }
  }
  .dropdown-custom-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-text);
  }
}
.animation-image-clip {
  clip-path: inset(0);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
  overflow: hidden;
  will-change: clip-path;

  &:hover {
    clip-path: inset(1.3%);

    img,
    video {
      transform: scale(1.03);
    }
  }
  @media (min-width: 992px) {
  }

  img,
  video {
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
