#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 123;
}
.header {
  &-wrapper {
    display: grid;
    grid-template-columns: 4fr 6fr 2fr;
    padding: 9.5px 24px;
    border-bottom: 1px solid #80807f;
    background-color: var(--color-white);
    height: 60px;
    align-items: center;
    @media (max-width: 991px) {
      grid-template-columns: 1fr auto 1fr;
    }
  }
  &-logo {
    display: flex;
    align-items: center;
  }
  &-left {
    display: flex;
    gap: 40px;
    @media (max-width: 991px) {
      grid-column: 2 / 3;
    }
  }
  &-main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 991px) {
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100dvh - 60px);
      background-color: var(--color-white);

      transition: all 0.3s ease;
      transform: translateX(100%);
      flex-direction: column;
      justify-content: flex-start;
      gap: 24px;
      padding-top: 100px;
      &.active {
        transform: translateX(0);
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 991px) {
        flex-direction: column;
      }
      li {
        display: inline-block;
        &.menu-item-has-children {
          &:hover {
            & > .sub-menu {
              clip-path: inset(0 0 0 0);
            }
            & > a {
              &::after {
                opacity: 1;
                visibility: visible;
              }
            }
          }
          & > a {
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: -10px;
              width: calc(100% + 10px);
              height: 20px;
              background-color: transparent;
              opacity: 0;
              visibility: hidden;
              transition: all 0.2s ease;
            }
          }
          & > .sub-menu {
            position: absolute;
            top: 60px;
            background-color: var(--color-white);
            max-width: 1110px;
            width: max-content;
            left: 50%;
            transform: translateX(-50%);
            padding: 24px;
            align-items: flex-start;
            gap: 48px;
            clip-path: inset(0 0 100% 0);
            transition: all 0.3s ease;
            will-change: clip-path;
            @media (max-width: 991px) {
              position: fixed;
              clip-path: unset;
              background-color: var(--color-white);
              z-index: 111;
              top: 0px;
              height: calc(100vh - 60px);
              left: 0;
              width: 100%;
              transform: translateX(100%);
              gap: 16px;
              &.show {
                transform: translateX(0);
              }
            }
            .sub-menu-back {
              display: none;
              @media (max-width: 991px) {
                display: flex;
                align-items: center;
                gap: 8px;
                .icon {
                  transform: rotate(90deg);
                }
                .text {
                  font-size: 14px;
                }
              }
            }
            & > li {
              &.menu-item-has-children {
                // &:first-child {
                //   flex-shrink: 0;
                //   & > .sub-menu-lv-2 {
                //     flex-direction: column;
                //     gap: 4px;
                //     align-items: flex-start;
                //     li {
                //       a {
                //         font-size: 14px;
                //         line-height: 24px;
                //         font-weight: 400;
                //         color: var(--color-text);
                //       }
                //     }
                //   }
                // }
                &:nth-child(2) {
                  flex-shrink: 0;
                  & > .sub-menu-lv-2 {
                    flex-direction: column;
                    gap: 4px;
                    align-items: flex-start;
                    li {
                      a {
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 400;
                        color: var(--color-text);
                      }
                    }
                  }
                }
                &:last-child {
                  & > .sub-menu-lv-2 {
                    display: grid;
                    grid-template-columns: repeat(5, max-content);
                    columns: 5;
                    gap: 4px 48px;
                    @media (max-width: 991px) {
                      grid-template-columns: repeat(2, max-content);
                      gap: 4px 24px;
                    }
                    li {
                      a {
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 400;
                        color: var(--color-text);
                      }
                    }
                  }
                }
                & > a {
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: 600;
                  margin-bottom: 12px;
                  color: var(--color-text);
                  display: inline-block;
                }
                & > .sub-menu-lv-2 {
                  @media (max-width: 991px) {
                    align-items: flex-start;
                  }
                  li {
                    a {
                      &:hover {
                        color: var(--color-mall);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &-menu {
    ul {
      li {
        a {
          transition: color 0.3s ease;
          &:hover {
            color: var(--color-mall);
          }
        }
      }
    }
  }
  &-lang {
    @media (max-width: 991px) {
      .value-select span {
        font-weight: 600;
      }
      .dropdown-custom-item {
        font-weight: 600;
      }
    }
    .dropdown-custom-btn {
      justify-content: flex-end;
      .value-select {
        display: flex;
        gap: 8px;
        align-items: center;
        flex: unset;
      }
    }
    .dropdown-custom-item {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: flex-end;
      padding: 8px 10px 8px 8px;
      transition: all 0.3s ease;
    }
    .dropdown-custom-menu {
      min-width: 140px;
      left: auto;
      right: 0;
    }
  }
  &-options {
    display: flex;
    align-items: center;

    .dropdown-custom-select {
      box-shadow: 0px 0px 4px 4px #0000001a;
      padding: 4px 16px;
      border-radius: 16px;
      min-width: 260px;
    }
    .dropdown-custom-menu {
      margin-top: 14.5px;
      .dropdown-custom-item {
        padding: 8px;
        padding-left: 35px;
      }
    }
  }
  &-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &-hamburger {
    justify-content: flex-end;
    .hamburger {
      position: relative;
      width: 26px;
      height: 16px;
      span {
        width: 100%;
        left: 0;
        height: 2px;
        background-color: var(--color-text);
        position: absolute;
        transition: all 0.4s;
        display: block;
        will-change: transform, opacity;
        backface-visibility: hidden;
        transform-origin: center;
        &:nth-child(1) {
          top: 2px;
        }
        &:nth-child(2) {
          top: 7px;
        }
        &:nth-child(3) {
          top: 12px;
        }
      }
      &.active {
        span {
          &:nth-child(2) {
            opacity: 0;
            transform: scale(0);
          }
          &:nth-child(1) {
            transform: translateY(5px) rotate(45deg);
          }
          &:nth-child(3) {
            transform: translateY(-5px) rotate(-45deg);
          }
        }
      }
    }
  }
}
