.intro {
  position: relative;
  z-index: 2;
  background-color: var(--bg-section);

  h2.title {
    margin-bottom: 24px;

    @media (max-width: 991px) {
      margin-bottom: 16px;
    }
  }

  &-overlay {
    background-color: var(--bg-section);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &-container {
    padding: 40px 24px;
    position: relative;
    z-index: 2;
    @media (max-width: 991px) {
      padding: 16px 24px;
    }

    // @media (max-width: 767px) {
    //   padding: 16px 24px 0;

    // }
  }
  &-text {
    max-width: 1200px;

    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    @media (max-width: 991px) {
      max-width: 100%;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      text-align: justify;
    }
  }

  &-image {
    margin-top: 80px;
    display: grid;
    align-items: flex-end;
    grid-template-columns: 30% 70%;
    gap: 24px;

    .image-small {
      overflow: hidden;
      height: 370px;
      margin-bottom: 150px;
    }

    .image-large {
      overflow: hidden;
      height: 690px;
      width: calc(100% - 24px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.2);
    }
  }
}
