.logo-wrap {
  position: relative;
  z-index: 2;
  // background-image: url("../../images/bg-loading.webp");
  background: var(--color-white);
  background-size: cover;
  background-position: center;
  padding: 24px 0;

  @media (max-width: 991px) {
    padding: 16px 0;
  }

  &-content {
    width: 40%;
    margin: 0 auto 8px;
    text-align: center;

    @media (max-width: 991px) {
      margin-bottom: 0;
    }
  }
  .marquee {
    width: 100vw;
    overflow: hidden;
    &-wrap {
      width: 100%;
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-scroll {
      display: flex;
      position: relative;
      will-change: transform;
    }
    &-list {
      display: flex;
      position: relative;
      will-change: transform;
      &-wrap {
        flex: none;
      }
    }
    &-item {
      margin-right: 20px;
      margin-left: 20px;
      flex: none;
      width: 170px;

      @media (max-width: 991px) {
        width: 120px;
      }
      @media (max-width: 767px) {
        width: 100px;
      }
      .logo-icon {
        width: 100%;
        height: 110px;
        // margin-bottom: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-white);
        @media (max-width: 991px) {
          height: 55px;
        }
        img {
          width: auto;
          height: auto;
          display: block;
          @media (max-width: 991px) {
            object-fit: contain;
          }
        }
      }
      .logo-name {
        display: none;
        font-size: 14px;
        line-height: 24px;
        color: var(--color-white);
        text-align: center;
      }
    }
  }
}
