.scroll {
  &-wrap {
    position: relative;
    padding: 40px 24px;
    background-color: #fff8f3;
    padding-left: calc(calc(1 / 12) * 100%);
    padding-right: calc(calc(1 / 12) * 100%);
    &-title {
      margin-bottom: 40px;
      text-align: center;
    }
    &.partner-sec {
      background-color: var(--color-white-2);
      padding-top: 40px;
      padding-bottom: 40px;
      @media (max-width: 991px) {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
    @media (max-width: 1024px) {
      padding-right: 60px;
      padding-left: 60px;
    }
    @media (max-width: 991px) {
      padding: 64px 24px;
    }
    @media (max-width: 991px) {
      padding: 16px 24px;
    }
    &-item {
      margin-bottom: 40px;
      gap: 104px;
      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(even) {
        .scroll-wrap-content {
          @media (max-width: 991px) {
            padding-right: 0;
          }
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: calc(50% - 52px);
      @media (max-width: 991px) {
        padding-left: 0;
        margin-top: 24px;
        justify-content: flex-start;
        height: auto;
      }
      @media (max-width: 991px) {
        margin-top: 16px;
      }
    }
    &-box {
      .title-box {
        margin-bottom: 24px;
        @media (max-width: 991px) {
          margin-bottom: 8px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 600;
        }
      }
      .description-box {
        text-align: justify;
        p {
          &:not(:first-child) {
            margin-top: 24px;

            @media (max-width: 991px) {
              margin-top: 16px;
            }
          }
        }
        .br {
          display: block;
          height: 24px;
          @media (max-width: 991px) {
            height: 16px;
          }
        }
        @media (max-width: 991px) {
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          text-align: justify;
        }
      }
    }
    &-image {
      width: calc(50% - 52px);
      .image {
        width: 100%;
        aspect-ratio: 526 / 330;
        overflow: hidden;
        @media (max-width: 991px) {
          aspect-ratio: 327 / 207;
        }
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
