.section-fields {
  background-color: var(--bg-section);
  position: relative;

  &.spacing-top {
    padding-top: 40px;
    @media (max-width: 991px) {
      padding-top: 16px;
    }
  }

  .section-title {
    margin-bottom: 40px;

    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
    @media (max-width: 767px) {
      margin-bottom: 16px;
    }
  }
  &.not-home {
    .fields-list {
      padding: 40px;
      @media (max-width: 991px) {
        padding: 16px 24px 24px;
        .fields-item {
          width: 100%;
        }
      }
    }
  }
  .fields-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 40px 40px;

    @media (max-width: 991px) {
      padding: 0 24px 24px;
      gap: 24px;
    }
  }

  .fields-item {
    position: relative;
    width: calc(calc(100% - 48px) / 2);
    height: auto;

    display: flex;
    flex-direction: column;

    @media (max-width: 991px) {
      width: calc(calc(100% - 24px) / 2);
    }

    @media (max-width: 480px) {
      width: 100%;
    }
  }

  .fields-item-img {
    width: 100%;
    aspect-ratio: 648 / 386;
    z-index: 1;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 50%;
      width: 100%;
      z-index: 4;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      );
      left: 0;
      bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 2;
    }

    .item-video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
      position: relative;
    }
  }
  .fields-item-name {
    width: 100%;
    z-index: 2;
    margin: 0 auto;
    position: absolute;
    bottom: 32px;
    left: 0;

    @media (max-width: 991px) {
      bottom: 16px;
    }

    .desc {
      margin-top: 24px;
    }
  }

  .fields-tabs {
    position: fixed;
    z-index: 3;
    top: 84px;
    left: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: max-content;
    max-width: 90%;
    transition: transform 0.4s ease, opacity 0.3s ease;

    &.active {
      transform: translate(-50%, 0);
      opacity: 1;
      pointer-events: auto;
    }

    &__item {
      padding: 8px 16px;
      border-radius: 72px;
      background-color: #f4f4f4;
      width: max-content;
      transition: all 0.4s ease;
      font-size: 13px;
      line-height: 20px;

      &.active {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
    }
  }
}
