.shopping {
  padding: 40px 140px;
  background: var(--color-bg-primary);

  &-search {
    &-bar {
      margin-bottom: 24px;
      form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
      }
    }
    &-item {
      background-color: var(--color-white);
      border-radius: 20px;
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &.search {
        padding: 0;

        input {
          padding: 0 24px;
          height: 40px;
          border: none;
          box-shadow: unset;

          font-size: 14px;
          line-height: 20px;
          font-weight: 600;

          &::placeholder {
            color: var(--color-text);
          }
        }

        .icon {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 20px;
          right: 24px;
          transform: translateY(-50%);
        }

        .field-suggestion__list {
          left: 0;
          transform: translateY(2px);
          width: 100%;
          border-radius: 10px;
          background-color: var(--color-bg-2);
        }
      }

      .dropdown-custom-select {
        width: 100%;
        height: 100%;
        cursor: pointer;
        padding: 0 24px;
      }

      .dropdown-custom-btn {
        width: 100%;
        height: 100%;
        justify-content: space-between;

        .dropdown-custom-text {
          font-weight: 600;
        }
      }

      .dropdown-custom-menu {
        bottom: -2px;
        border-radius: 10px;
        background-color: var(--color-bg-2);
      }
    }
  }

  &-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  &-main {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }
  }
}

.brading-item {
  padding: 24px 40px;
  background-color: var(--color-white);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:hover {
    img {
      transform: scale(1.05);
    }

    .name {
      color: var(--color-primary);
    }
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: all 0.5s ease;
  }

  .name {
    margin-top: 24px;
    transition: all 0.4s ease;
  }
}
