<div class="header-wrapper">
  <div class="header-left">
    <div class="header-logo">
      <a href="./index.html">
        <img src="./assets/images/icons/logo-menas-mall.svg" alt="" />
      </a>
    </div>
    <div class="header-options d-none d-lg-flex">
      <div class="dropdown-custom-select">
        <div class="dropdown-custom-btn">
          <div class="icon">
            <img src="./assets/images/icons/ic_location.svg" alt="" />
          </div>
          <div class="value-select">
            <span class="dropdown-custom-text">Saigon Airport - TP. HCM</span>
          </div>
          <div class="icon">
            <svg
              width="11"
              height="6"
              viewBox="0 0 11 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.125 5.69347C5.43944 4.43563 6.89846 1.73127 10.219 0.976562"
                stroke="currentColor"
                stroke-width="2"
              />
              <path
                d="M5.31543 5.69347C5.00099 4.43563 3.54197 1.73127 0.22144 0.976562"
                stroke="currentColor"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <div class="dropdown-custom-menu" data-lenis-prevent>
          <div class="dropdown-custom-item">
            <span>Saigon Airport - TP. HCM 1</span>
          </div>
          <div class="dropdown-custom-item">
            <span>Saigon Airport - TP. HCM 2</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-main">
    <div class="header-menu">
      <ul>
        <li>
          <a href="./index.html" class="b2-font-sm color-text">Trang chủ</a>
        </li>
        <li class="menu-item-has-children">
          <a href="./shopping.html" class="b2-font-sm color-text"
            >Mua sắm
            <div class="icon">
              <svg
                width="11"
                height="6"
                viewBox="0 0 11 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.125 5.69347C5.43944 4.43563 6.89846 1.73127 10.219 0.976562"
                  stroke="currentColor"
                  stroke-width="2"
                />
                <path
                  d="M5.31543 5.69347C5.00099 4.43563 3.54197 1.73127 0.22144 0.976562"
                  stroke="currentColor"
                  stroke-width="2"
                />
              </svg></div
          ></a>

          <ul class="sub-menu">
            <li class="menu-item-has-children">
              <a href="">Ngành hàng</a>
              <ul class="sub-menu-lv-2">
                <li>
                  <a href="">Thời trang & Phụ kiện</a>
                </li>
                <li>
                  <a href="">Siêu thị & Tiêu dùng</a>
                </li>
                <li>
                  <a href="">Sức khoẻ & Làm đẹp</a>
                </li>
                <li>
                  <a href="">Ẩm thực & Đồ uống</a>
                </li>
                <li>
                  <a href="">Cửa hàng miễn thuế</a>
                </li>
                <li>
                  <a href="">Giải trí</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="">Thương hiệu</a>
              <ul class="sub-menu-lv-2">
                <li>
                  <a href="">SkyShop</a>
                </li>
                <li>
                  <a href="">L'Amuse Gourmet Coffee</a>
                </li>
                <li>
                  <a href="">Manwah</a>
                </li>
                <li>
                  <a href="">Mena Gourmet Market</a>
                </li>
                <li>
                  <a href="">MenaWorld</a>
                </li>
                <li>
                  <a href="">Skechers</a>
                </li>
                <li>
                  <a href="">Yum Food Village</a>
                </li>
                <li>
                  <a href="">Rosi Yến</a>
                </li>
                <li>
                  <a href="">SkyShop</a>
                </li>
                <li>
                  <a href="">CGV Cinemas</a>
                </li>
                <li>
                  <a href="">Lotteria</a>
                </li>
                <li>
                  <a href="">BreadTalk</a>
                </li>
                <li>
                  <a href="">Renata Wellness & Spa</a>
                </li>
                <li>
                  <a href="">California Active</a>
                </li>
                <li>
                  <a href="">Family Mart</a>
                </li>
                <li>
                  <a href="">Fashion Line</a>
                </li>
                <li>
                  <a href="">GUTA</a>
                </li>
                <li>
                  <a href="">Poseidon</a>
                </li>
                <li>
                  <a href="">Camel</a>
                </li>
                <li>
                  <a href="">Pepper Lunch</a>
                </li>
                <li>
                  <a href="">Peony Home</a>
                </li>
                <li>
                  <a href="">Highlands Coffee</a>
                </li>
                <li>
                  <a href="">Cing Hua Tang</a>
                </li>
                <li>
                  <a href="">Rosi Yến</a>
                </li>
                <li>
                  <a href="">Bún Chả Quỳnh</a>
                </li>
                <li>
                  <a href="">Bánh Canh Má Việt</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="./dining.html" class="b2-font-sm color-text"
            >Ẩm thực
            <div class="icon">
              <svg
                width="11"
                height="6"
                viewBox="0 0 11 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.125 5.69347C5.43944 4.43563 6.89846 1.73127 10.219 0.976562"
                  stroke="currentColor"
                  stroke-width="2"
                />
                <path
                  d="M5.31543 5.69347C5.00099 4.43563 3.54197 1.73127 0.22144 0.976562"
                  stroke="currentColor"
                  stroke-width="2"
                />
              </svg></div
          ></a>

          <ul class="sub-menu">
            <li class="menu-item-has-children">
              <a href="">Danh mục</a>
              <ul class="sub-menu-lv-2">
                <li>
                  <a href="">Nhà hàng</a>
                </li>
                <li>
                  <a href="">Coffee & Tea</a>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children">
              <a href="">Thương hiệu</a>
              <ul class="sub-menu-lv-2">
                <li>
                  <a href="">Bà Hội</a>
                </li>
                <li>
                  <a href="">Poseidon</a>
                </li>
                <li>
                  <a href="">Bếp Linh’s</a>
                </li>
                <li>
                  <a href="">Pepper Lunah</a>
                </li>
                <li>
                  <a href="">Loteria</a>
                </li>
                <li>
                  <a href="">Goodfood</a>
                </li>
                <li>
                  <a href="">Bún chả Quỳnh Hà Nội</a>
                </li>
                <li>
                  <a href="">Sunshine Detox</a>
                </li>
                <li>
                  <a href="">Bánh canh cá lóc</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="./news.html" class="b2-font-sm color-text"
            >Tin tức & Sự kiện</a
          >
        </li>
        <li>
          <a href="" class="b2-font-sm color-text">Dịch vụ</a>
        </li>

        <li>
          <a href="./contact.html" class="b2-font-sm color-text">Liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-right d-none d-lg-flex">
    <div class="header-lang">
      <div class="dropdown-custom">
        <div class="dropdown-custom-btn">
          <div class="value-select">
            <span>Tiếng Việt</span>
            <img src="./assets/images/flag/flag_VN.svg" alt="" />
          </div>
          <div class="icon">
            <svg
              width="11"
              height="6"
              viewBox="0 0 11 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.125 5.69347C5.43944 4.43563 6.89846 1.73127 10.219 0.976562"
                stroke="currentColor"
                stroke-width="2"
              />
              <path
                d="M5.31543 5.69347C5.00099 4.43563 3.54197 1.73127 0.22144 0.976562"
                stroke="currentColor"
                stroke-width="2"
              />
            </svg>
          </div>
        </div>
        <div class="dropdown-custom-menu">
          <div class="dropdown-custom-item">
            <span>English</span>
            <img src="./assets/images/flag/flag_EN.svg" alt="" />
          </div>
          <div class="dropdown-custom-item">
            <span>中文</span>
            <img src="./assets/images/flag/flag_CN.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-hamburger d-flex d-lg-none">
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
