<div id="locationData" class="d-none">
  <div class="city" data-city="TP. Hồ Chí Minh">
    <div
      class="location"
      data-name="Menas Mall Saigon Airport - TP. Hồ Chí Minh"
      data-url="https://menasmall.com"
    ></div>
    <div
      class="location"
      data-name="Vincom Center - TP. Hồ Chí Minh"
      data-url="https://vincom.com.vn"
    ></div>
    <div
      class="location"
      data-name="Crescent Mall - TP. Hồ Chí Minh"
      data-url="https://crescentmall.com.vn"
    ></div>
  </div>

  <div class="city" data-city="TP. Huế">
    <div
      class="location"
      data-name="Vincom Plaza Huế - TP. Huế"
      data-url="https://vincom.com.vn/hue"
    ></div>
    <div
      class="location"
      data-name="Big C Huế - TP. Huế"
      data-url="https://bigc.vn/hue"
    ></div>
    <div
      class="location"
      data-name="Aeon Mall Huế - TP. Huế"
      data-url="https://aeonmall.com.vn/hue"
    ></div>
  </div>

  <div class="city" data-city="Hà Nội">
    <div
      class="location"
      data-name="Vincom Mega Mall - Hà Nội"
      data-url="https://vincom.com.vn/hanoi"
    ></div>
    <div
      class="location"
      data-name="Lotte Center - Hà Nội"
      data-url="https://lotte.vn"
    ></div>
    <div
      class="location"
      data-name="Times City - Hà Nội"
      data-url="https://timescity.vn"
    ></div>
  </div>
</div>

<div class="popup-select-wrapper">
  <div class="popup-select-main">
    <div class="popup-select-title b2-font-sm color-text">
      Vui lòng lựa chọn địa điểm
    </div>
    <div class="popup-select-box">
      <div class="dropdown-wrapper">
        <div class="dropdown-input" id="dropdownInput">
          <div class="icon-location">
            <img src="./assets/images/icons/ic_location.svg" alt="" />
          </div>
          <input type="text" id="locationInput" readonly />
          <div class="icon-arrow">
            <img src="./assets/images/icons/ic_arrow_down.svg" alt="" />
          </div>
        </div>
        <div class="dropdown-menu" id="dropdownMenu"></div>
      </div>
      <div class="popup-select-tabs" id="tabs">
        <button
          class="tab-btn active color-text tag-font-sm"
          data-city="TP. Hồ Chí Minh"
        >
          TP. Hồ Chí Minh
        </button>
        <button class="tab-btn color-text tag-font-sm" data-city="TP. Huế">
          TP. Huế
        </button>
        <button class="tab-btn color-text tag-font-sm" data-city="Hà Nội">
          Hà Nội
        </button>
      </div>
      <div class="popup-select-discover">
        <button class="discover-btn button-font color-white text-uppercase">
          khám phá
        </button>
      </div>
    </div>
  </div>
</div>
