:root {
  --color-primary: #e4a025;
  --color-secondary: #4fb84f;
  --color-text: #1a3d4e;
  --color-white: #fff;
  --color-bg: #f7f7f7;
  --color-bg-2: #efefef;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-text {
  color: var(--color-text);
}

.color-white {
  color: var(--color-white);
}

.color-bg {
  color: var(--color-bg);
}

.color-bg-2 {
  color: var(--color-bg-2);
}

.h1-font-m {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

.h2-font-m {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.b1-font-r {
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}

.b1-font-m {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

.b2-font-sm {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.b2-font-r {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.tag-font-m {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.tag-font-sm {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.button-font {
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: "SVN-Graphik", sans-serif !important;
}

.dropdown-custom-select,
.dropdown-custom {
  position: relative;
}
.dropdown-custom-select .dropdown-custom-menu,
.dropdown-custom .dropdown-custom-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background-color: var(--color-white);
  margin-top: 18.5px;
  padding: 8px;
  clip-path: inset(0 0 100% 0);
  transition: clip-path 0.3s ease;
  will-change: clip-path;
}
.dropdown-custom-select .dropdown-custom-menu.dropdown--active,
.dropdown-custom .dropdown-custom-menu.dropdown--active {
  clip-path: inset(0 0 0 0);
}
.dropdown-custom-select .value-select,
.dropdown-custom .value-select {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text);
}
.dropdown-custom-select .dropdown-custom-btn,
.dropdown-custom .dropdown-custom-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.dropdown-custom-select .dropdown-custom-btn .icon,
.dropdown-custom .dropdown-custom-btn .icon {
  flex-shrink: 0;
}
.dropdown-custom-select .dropdown-custom-btn .value-select,
.dropdown-custom .dropdown-custom-btn .value-select {
  flex: 1;
}
.dropdown-custom-select .dropdown-custom-item,
.dropdown-custom .dropdown-custom-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text);
}

.animation-image-clip {
  clip-path: inset(0);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
  overflow: hidden;
  will-change: clip-path;
}
.animation-image-clip:hover {
  clip-path: inset(1.3%);
}
.animation-image-clip:hover img,
.animation-image-clip:hover video {
  transform: scale(1.03);
}
.animation-image-clip img,
.animation-image-clip video {
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-select-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-image: url("../../images/bg-popup.webp");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-select-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.popup-select-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-bg);
  z-index: 2;
  opacity: 0.95;
}
.popup-select-wrapper .dropdown-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
}
.popup-select-wrapper .dropdown-input {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 12px;
  border-bottom: 1px solid rgba(26, 61, 78, 0.3);
  padding-bottom: 12px;
}
.popup-select-wrapper .dropdown-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-text);
}
.popup-select-wrapper .icon-location {
  flex-shrink: 0;
}
.popup-select-wrapper .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: var(--color-bg);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: block;
}
.popup-select-wrapper .dropdown-menu.active {
  opacity: 1;
  visibility: visible;
}
.popup-select-wrapper .dropdown-menu .dropdown-item p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-text);
}
.popup-select-main {
  position: relative;
  z-index: 10;
  width: 450px;
  height: 240px;
  padding: 24px 24px 16px;
  border-radius: 8px;
  background: linear-gradient(134.54deg, rgba(255, 200, 182, 0.5) -13.65%, #ffffff 32.19%, #ffffff 80.8%);
}
.popup-select-title {
  text-align: center;
  margin-bottom: 24px;
}
.popup-select-tabs {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  gap: 12px;
}
.popup-select-tabs .tab-btn {
  flex: 1;
  padding: 6px 16px;
  border-radius: 16px;
  white-space: nowrap;
  background-color: #fff8f3;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.popup-select-tabs .tab-btn:hover {
  border: 1px solid var(--color-text);
}
.popup-select-tabs .tab-btn.active {
  border: 1px solid var(--color-text);
}
.popup-select-discover .discover-btn {
  width: 100%;
  height: 40px;
  background-color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--color-text);
}
.popup-select-discover .discover-btn:hover {
  background-color: transparent;
  color: var(--color-text);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 123;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 4fr 6fr 2fr;
  padding: 9.5px 24px;
  border-bottom: 1px solid #80807f;
  background-color: var(--color-white);
  height: 60px;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-left {
  display: flex;
  gap: 40px;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-main ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-main ul li {
  display: inline-block;
}
.header-main ul li.menu-item-has-children:hover > .sub-menu {
  clip-path: inset(0 0 0 0);
}
.header-main ul li.menu-item-has-children:hover > a::after {
  opacity: 1;
  visibility: visible;
}
.header-main ul li.menu-item-has-children > a {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.header-main ul li.menu-item-has-children > a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: -10px;
  width: calc(100% + 10px);
  height: 20px;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.header-main ul li.menu-item-has-children > .sub-menu {
  position: absolute;
  top: 60px;
  background-color: var(--color-white);
  max-width: 1110px;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px;
  align-items: flex-start;
  gap: 48px;
  clip-path: inset(0 0 100% 0);
  transition: all 0.3s ease;
  will-change: clip-path;
}
.header-main ul li.menu-item-has-children > .sub-menu > li.menu-item-has-children:first-child {
  flex-shrink: 0;
}
.header-main ul li.menu-item-has-children > .sub-menu > li.menu-item-has-children:first-child > .sub-menu-lv-2 {
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}
.header-main ul li.menu-item-has-children > .sub-menu > li.menu-item-has-children:first-child > .sub-menu-lv-2 li a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text);
}
.header-main ul li.menu-item-has-children > .sub-menu > li.menu-item-has-children:last-child > .sub-menu-lv-2 {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  columns: 5;
  gap: 4px 48px;
}
.header-main ul li.menu-item-has-children > .sub-menu > li.menu-item-has-children:last-child > .sub-menu-lv-2 li a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-text);
}
.header-main ul li.menu-item-has-children > .sub-menu > li.menu-item-has-children > a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--color-text);
  display: inline-block;
}
.header-main ul li.menu-item-has-children > .sub-menu > li.menu-item-has-children > .sub-menu-lv-2 li a:hover {
  color: var(--color-mall);
}
.header-menu ul li a {
  transition: color 0.3s ease;
}
.header-menu ul li a:hover {
  color: var(--color-mall);
}
.header-lang .dropdown-custom-btn {
  justify-content: flex-end;
}
.header-lang .dropdown-custom-btn .value-select {
  display: flex;
  gap: 8px;
  align-items: center;
  flex: unset;
}
.header-lang .dropdown-custom-item {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 10px 8px 8px;
  transition: all 0.3s ease;
}
.header-lang .dropdown-custom-menu {
  min-width: 140px;
  left: auto;
  right: 0;
}
.header-options {
  display: flex;
  align-items: center;
}
.header-options .dropdown-custom-select {
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1019607843);
  padding: 4px 16px;
  border-radius: 16px;
  min-width: 260px;
}
.header-options .dropdown-custom-menu {
  margin-top: 14.5px;
}
.header-options .dropdown-custom-menu .dropdown-custom-item {
  padding: 8px;
  padding-left: 35px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero.not-has-sticky {
  position: unset;
  top: unset;
}
@media (max-width: 991px) {
  .hero {
    position: unset;
    top: unset;
  }
}
.hero-sec__container {
  height: 100svh;
  background-color: var(--color-white);
  position: relative;
}
.hero.hidden-section {
  opacity: 0;
  pointer-events: none;
}
.hero.has-overlay .hero-slider::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, #3a4041 0, rgba(58, 64, 65, 0) 60%);
  top: 0;
  left: 0;
  z-index: 2;
}
.hero-overlay {
  height: calc(100svh - 60px);
  width: 1px;
  background-color: transparent;
}
@media (max-width: 991px) {
  .hero-overlay {
    display: none;
  }
}
.hero .video-banner {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hero .video-banner.video-iframe {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.hero .video-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.hero .video-banner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1400px) {
  .hero .video-banner iframe {
    height: 100vh;
    width: 177.78vh;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-bottom: 0;
  }
}
.hero .swiper-banner {
  width: 100%;
  height: 100%;
}
.hero .swiper-banner::after {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
.hero .swiper-banner .swiper-content {
  width: 100%;
  max-width: 520px;
  position: absolute;
  z-index: 2;
  bottom: 24px;
  left: 24px;
  text-align: left;
  line-height: 1.4;
}
.hero .swiper-banner .swiper-slide {
  overflow: hidden;
}
.hero .swiper-banner .swiper-slide:first-child img {
  transform: scale(1.1);
}
.hero .swiper-banner .slide-banner {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero .swiper-banner .slide-banner .swiper-content-title {
  width: 100%;
  max-width: 735px;
  position: absolute;
  z-index: 2;
  bottom: 24px;
  left: 24px;
  text-align: left;
  line-height: 58px;
}
.hero .swiper-banner .slide-banner img {
  width: 100%;
  height: 100%;
}
.hero .hero__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.hero .hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hero .swiper-slide-active img,
.hero .swiper-slide-duplicate-active img {
  transition-delay: 0s !important;
}
.hero__content {
  width: 60%;
  position: absolute;
  z-index: 2;
  bottom: 24px;
  left: 24px;
  text-align: left;
  color: var(--color-white);
}
@media (max-width: 991px) {
  .hero__content {
    width: 85%;
    top: unset;
    bottom: 0;
  }
}
.hero__content h2 {
  font-family: var(--font-heading);
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
}
.hero__content h2:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .hero__content h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .hero__content h2:not(:last-child) {
    margin-bottom: 20px;
  }
}
.hero .swiper-pagination {
  height: 2px;
  background-color: var(--color-white);
  top: unset;
  bottom: 0;
}
.hero .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: var(--color-mall);
}
.hero .progress-bar {
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  right: 0;
  top: unset;
  transform: none;
  height: 2px;
  background: var(--color-primary);
  width: 0%;
  transition: width 0.1s linear;
}
.hero .swiper-arrows {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  z-index: 3;
  right: 24px;
  bottom: 24px;
}
.hero .swiper-arrows .swiper-next,
.hero .swiper-arrows .swiper-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-white);
  color: var(--color-text);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: unset;
  transition: all 0.4s ease;
}
@media (max-width: 991px) {
  .hero .swiper-arrows .swiper-next,
  .hero .swiper-arrows .swiper-prev {
    display: none;
  }
}
.hero .swiper-arrows .swiper-next:hover,
.hero .swiper-arrows .swiper-prev:hover {
  background-color: var(--color-mall);
  color: var(--color-white);
  border-color: var(--color-mall);
}
.hero .swiper-arrows .swiper-next svg,
.hero .swiper-arrows .swiper-prev svg {
  width: 7px;
  height: 12px;
}
.hero .swiper-arrows .swiper-next svg *,
.hero .swiper-arrows .swiper-prev svg * {
  transition: all 0.4s ease;
}
.hero .swiper-arrows .swiper-next::after,
.hero .swiper-arrows .swiper-prev::after {
  display: none;
}
.hero .swiper-arrows .swiper-prev svg {
  transform: scale(-1) translateX(1px);
}
.hero .swiper-arrows .swiper-next svg {
  transform: translateX(1px);
}

.scroll-wrap {
  position: relative;
  padding: 40px 24px;
  background-color: #fff8f3;
  padding-left: 8.3333333333%;
  padding-right: 8.3333333333%;
}
.scroll-wrap-title {
  margin-bottom: 40px;
  text-align: center;
}
.scroll-wrap.partner-sec {
  background-color: var(--color-white-2);
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 991px) {
  .scroll-wrap.partner-sec {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (max-width: 1024px) {
  .scroll-wrap {
    padding-right: 60px;
    padding-left: 60px;
  }
}
@media (max-width: 991px) {
  .scroll-wrap {
    padding: 64px 24px;
  }
}
@media (max-width: 991px) {
  .scroll-wrap {
    padding: 16px 24px;
  }
}
.scroll-wrap-item {
  margin-bottom: 40px;
  gap: 104px;
}
@media (max-width: 991px) {
  .scroll-wrap-item {
    margin-bottom: 24px;
  }
}
.scroll-wrap-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .scroll-wrap-item:nth-child(even) .scroll-wrap-content {
    padding-right: 0;
  }
}
.scroll-wrap-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 52px);
}
@media (max-width: 991px) {
  .scroll-wrap-content {
    padding-left: 0;
    margin-top: 24px;
    justify-content: flex-start;
    height: auto;
  }
}
@media (max-width: 991px) {
  .scroll-wrap-content {
    margin-top: 16px;
  }
}
.scroll-wrap-box .title-box {
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .scroll-wrap-box .title-box {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
}
.scroll-wrap-box .description-box {
  text-align: justify;
}
.scroll-wrap-box .description-box p:not(:first-child) {
  margin-top: 24px;
}
@media (max-width: 991px) {
  .scroll-wrap-box .description-box p:not(:first-child) {
    margin-top: 16px;
  }
}
.scroll-wrap-box .description-box .br {
  display: block;
  height: 24px;
}
@media (max-width: 991px) {
  .scroll-wrap-box .description-box .br {
    height: 16px;
  }
}
@media (max-width: 991px) {
  .scroll-wrap-box .description-box {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
  }
}
.scroll-wrap-image {
  width: calc(50% - 52px);
}
.scroll-wrap-image .image {
  width: 100%;
  aspect-ratio: 526/330;
  overflow: hidden;
}
@media (max-width: 991px) {
  .scroll-wrap-image .image {
    aspect-ratio: 327/207;
  }
}
.scroll-wrap-image .image:hover img {
  transform: scale(1.05);
}
.scroll-wrap-image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}